.user-features {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.user-features li {
    width: 100%;
    position: relative;
}

.user-features .user-features__li:hover {
    background-color: #e5efef
}

.user-features li a {
    text-decoration: none;
    color: #717171;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    line-height: 100%;
    font-weight: 400;
}

.user-features li a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #24B6B7;
}

.user-features li img {
    width: 20px;
    margin-right: 20px;
}

.user-feature__item {
    display: flex;
    justify-content: start;
    align-items: center;
}

.active_navlink::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #24B6B7;
}

.active_navlink {
    background-color: #e5efef
}

.user-features__wallet {
    width: 100%;
    /* padding: 20px 10px; */
    animation: slideDown 0.6s forwards;
}

.user-features__wallet::before,
.user-features__wallet::after {
    content: "";
    width: 100%;
    display: block;
}

.user-features__wallet::before {
    /* padding-top: 10px; */
    border-top: 1px solid #717171;
    margin-top: 10px;
}

.user-features__wallet::after {
    padding-bottom: 10px;
    border-bottom: 1px solid #717171;
    margin-bottom: 10px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-features__wallet li a {
    padding: 10px 30px;
}

.user-feature__wallet h3 {
    margin: 0;
    text-align: start;
    color: #717171;
    padding: 15px 10px;
    font-weight: 500;
}