.containerRe {
  background-color: rgb(241, 242, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.containerRe img {
  width: 350px;
  height: auto;
}