.recoverpass-form {
  background-color: #fff;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frameRe {
  padding: 40px;
  width: 75%;
}

.fieldRe {
  margin-top: 20px; /* Khoảng cách giữa các trường nhập liệu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recoverpass-form h1 {
  color: #24b6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.recoverpass-form label {
  width: 100%;
  font-size: 17px;
  margin-bottom: 5px;
}



.fieldRe #button {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  background-color: #24b6b7;
  color: #fff;
  margin-bottom: 5px;
  font-size: 135%;
}