.user-item {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 4%;
}

.adTbl {
  border-collapse: collapse;
}

.adTbl th, .adTbl td {
  font-size: 16px;
  border-bottom: 1px solid black; 
}

.adTbl th:last-child, td:last-child {
  border-right: none; 
}

.adTbl #date {
  padding-left: 10px;
}