.filter-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.filter__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter__header span {
    cursor: pointer;
    background-color: rgba(36, 182, 183, 0.25);
    color: #000;
    padding: 2px 10px;
    border-radius: 5px;
}

.filter__content {
    display: flex;
    justify-content: space-around;
}

.filter__item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.filter__item p {
    margin: 5px 0;
}