.transaction-item {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.transaction-item:hover {
    background-color: #ececec;
}

.transaction-item__category {
    display: flex;
    align-items: center;
    width: 20%;
}

.transaction-item__icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

.transaction-item__note {
    width: 30%;
    text-align: center;
}

.transaction-item__icon img {
    width: 20px;
    height: 20px;
}

.transaction-item__date {
    width: 20%;
    text-align: center;
}

.transaction-item__money {
    width: 20%;
    text-align: end;
}

.transaction-item__money span {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

.money--green  {
    color: #2dba75;
}

.money--red {
    color: #f14c52;
}