.update-transaction {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.update-transaction__header {
    display: flex;
    justify-content: space-evenly;
}

.update-transaction__item {
    width: 18%;
    display: flex;
    flex-direction: column;
}

.add-transaction__item label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.update-transaction__category-container {
    position: relative;
    width: 100%;
}

.update-transaction__category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.update-transaction__category button:hover img {
    opacity: 1;
}

.update-transaction__category-field {
    display: flex;
    padding: 3px;
    align-items: center;
}

.update-transaction__category button {
    border: none;
    background-color: #fff;
}

.update-transaction__footer {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 30px;
}

.update-transaction__footer .update-transaction__item .form-control {
    margin: 0;
}

.update-transaction__footer .update-transaction__item {
    margin-right: 50px;
}

.update-transaction__footer button {
    padding: 9px 15px;
    min-width: 10% !important;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 5px;
    border: none;
    box-sizing: content-box;
    font-weight: 500;
    background-color: #24B6B7;
    color: #fff;
}

.update-transaction__footer .delete-btn{
    background-color: #f14c52;
    color: #fff;
}

.update-transaction__footer .cancel-btn{
    background-color: #7b93a4;
    color: #fff;
}


.update-transaction__item .dropdown__currency {
    width: 70%;
}

.category-field__icon img {
    width: 20px;
    height: 20px;
}