.modal-container .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: rgba(113, 112, 112, 0.6);
    z-index: 800;
    width: 100vw;
}

.modal-container .modal-content {
    width: 100%;
    z-index: 801;
    position: relative;
    background-color: #fff;
}