/* ChatAdmin.css */

body {
  background-color: #d3e7dd;
}

.chat-containerAd {
  display: flex;
  margin: 0;
  height: 100%;
}

.user-list {
  width: 20%;
  background-color: #d3e7dd;
}

.user-list-container {
  height: calc(100vh - 88px);
  /* Adjust based on the height of the search input */
  overflow-y: auto;
  padding: 5px;
}

.selected-contact {
  background-color: rgb(231, 255, 242) !important;
}

li.ant-list-item.user-item:hover {
  cursor: pointer;
  background-color: rgb(188, 212, 199);

}

li.ant-list-item.user-item {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
}

.unread-message .uci__message {
  color: #000;
  font-weight: 600;
}

.unread-message {
  position: relative;
}

.unread-message::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #24b6b7;
  border-radius: 50%;
  right: 0;
}

.chat-boxAd {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.chat-header {
  padding: 10px;
  background-color: #d3e7dd;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-body>div {
  overflow-x: hidden ;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
}

.message-bot {
  background-color: #8DD4CE;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  position: relative;
}

.user-message .message-bot {
  background-color: #fff;
}

.message-bot span {}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  align-items: center;
}

.chat-footer button {
  background-color: #24b6b7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 5px;
  cursor: pointer;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message span {
  display: block;
  padding: 5px;
  border-radius: 5px;
}

.incoming {
  background-color: #e6e6e6;
  align-self: flex-start;
}

.outgoing {
  background-color: #d9f7ff;
  align-self: flex-end;
}


.message-bot__container {
  display: flex;
  align-items: end;
}

.user-message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.user-message__avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.message-bot__container.admin-message {
  justify-content: end;
}

.message-bot__message-time {
  position: absolute;
  top: 50%; 
  left: 0;
  transform: translateY(-50%); 
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
}