.wallet {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-sizing: content-box;
    min-width: 250px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 80px;
}

.wallet img {
    width: 50px;
}

.wallet__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 10px;
}

.wallet__info p {
    margin: 0;
}

.money-text {
    font-size: 20px;
    padding-top: 10px;
}

.money-text--red {
    color: red;
}

.money-text--blue {
    color: red;
}


.fade-text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}