.containerFg {
  background-color: #24b6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.containerFg #imgFo {
  width: 350px;
  height: auto;
}