.containerFg {
  background-color: #24b6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Để căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao của container là 100% của viewport */
}

.containerFg img {
  width: 350px;
  height: auto;
}