.forgotpass-form {
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frameFg {
  padding: 40px;
}

.fieldFg {
  margin-top: 20px; /* Khoảng cách giữa các trường nhập liệu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpass-form h1 {
  color: #24b6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

#emailRe, #passwordRe, #confirmPasswordRe {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 100%;
}

#pass {
  margin-top: 20px;
}

.forgotpass-form button {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  background-color: #24b6b7;
  color: #fff;
  font-size: 135%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.forgotpass-form a {
  color: #24b6b7;
}

.forgotpass-form p {
  font-weight: 600;
}

.forgotpass-form #text {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 100%;
}

.forgotpass-form label {
  width: 100%;
  font-size: 17px;
  margin-bottom: 5px;
}