.forgotpass-form {
  background-color: #fff;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  padding: 40px;
}

.field {
  margin-top: 20px; /* Khoảng cách giữa các trường nhập liệu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #24b6b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

#email, #password, #confirmPassword {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 100%;
}

#pass {
  margin-top: 20px;
}

#button {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: solid 1px rgba(102, 102, 102, 0.3490196078);
  background-color: #24b6b7;
  color: #fff;
  margin-bottom: 5px;
  font-size: 135%;
}

.link {
  color: #24b6b7;
}

.note {
  font-weight: 600;
}