.user-profile-password {}

.user-profile-password h2 {
    color: #24B6B7;
}

.user-profile-password label {
    color: #24B6B7;
    font-weight: 500;
}

.user-profile__row {
    display: flex;
    width: 90%;
    justify-content: space-between;
}