.color-select {
    width: 230px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    top: 80px;
    left: 0;
}

.color-select__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.color-select__item input {
    display: none;
}