.wallet-setting-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.wallet-setting-form h3 {
    width: 100%;
    text-align: start;
}

.update-wallet__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.update-wallet__buttons button {
    margin: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}